:root {
    --wtc-blue: #0049FF;
    --wtc-white: #ffff;
    --wtc-light-blue : #A4B8D8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;

}


body {
    height:  100vh;
    display: flex;
    flex-direction: column;
}

main {
   


    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    text-align: center;
    flex: 1;
}


main .initial {
    display: flex;
    opacity: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 4em 1em;
    background-color: var(--wtc-blue);
    transition: all ease 1000ms;
}

main .initial p, main .initial h1 {
    color: var(--wtc-white);
}

main .initial button {
    color: var(--wtc-blue);
}

main .about {
    display: none;
    /* display: flex; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 3em 1em;
    /* visibility: hidden; */
    color: var(--wtc-blue);
    opacity: 0;
    transition: all ease 1000ms;
    background-color: var(--wtc-white);
    min-height: 70vh;
    justify-content: center;
}


main .about button {
 background-color: var(--wtc-blue);
 color: var(--wtc-white);
 display: flex;
 gap: .4em;
 align-items: center;
 justify-content: center;
}
main .about #return {
 background-color: var(--wtc-white);
 border: 2px solid var(--wtc-blue);
 color: var(--wtc-white);
}
#continentsGif {
    /* max-width: 200px; */
    max-width: 90%;
    max-height: 40vh;
}

#copyright {
    max-width: 300px;
}

@media screen and (max-width:500px) {
    #contientsGif {
        width: 100%;
    }    
}
#byBlaBlaLab {
    max-width: 100px;
    display: none;
    opacity: 0;
}

#wtcLogo {
    max-width: 100%;
}

#antartica {
 color: var(--wtc-light-blue);
}
header {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

button {
    border: none;
    border-radius: 20px;
    padding: 1em;
    cursor: pointer;
}