:root {
    --wtc-blue: #0049FF;
    --wtc-white: #ffff;
    --wtc-light-blue : #A4B8D8;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;

}

a {
    text-decoration: none;
}

body {
    height:  100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    text-align: center;
    flex: 1;
}

main .initial {
    display: flex;
    opacity: 1;
    width: 100%;
    height: 100%;
    /* max-width: 1400px; */
    flex-direction: column;
    align-items: center;
    gap: 2em;
    /* padding: 2em 1em; */
    background-color: var(--wtc-blue);
    transition: all ease 1000ms;
    position: relative;
}

main .initial p, main .initial h1 {
    color: var(--wtc-white);
}

main .initial button {
    color: var(--wtc-blue);
}

.container {
   position: relative;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

main .about {
    display: none;
    /* max-width: 1400px; */
    /* display: flex; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* visibility: hidden; */
    color: var(--wtc-blue);
    opacity: 0;
    transition: all ease 1000ms;
    background-color: var(--wtc-white);
    min-height: 60vh;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* position: relative; */
}


main .about button {
    background-color: var(--wtc-blue);
    color: var(--wtc-white);
    display: flex;
    gap: .2em;
    align-items: center;
    justify-content: center;
}

main .about #return {
    background-color: var(--wtc-white);
    border: 2px solid var(--wtc-blue);
    color: var(--wtc-white);
}

#continentsGif {
    /* max-width: 200px; */
    max-width: 90%;
    max-height: 40vh;
}

#copyright {
    max-width: 200px;
}

#byBlaBlaLab {
    max-width: 100px;
    display: none;
    opacity: 0;
}

#wtcLogo, #levels {
    max-width: 400px;
}

#antartica {
    color: var(--wtc-light-blue);
    font-size: .5em;
}

#howManyContinents {
    font-size: 1.5em;
    max-width: 600px;
}

#returnSeta {
    width: 50px;
    height: 50px;
}

#return {
    padding: .3em;
    border-radius: 50px;
}

#dottedArrow {
    height: 50px;
}

.icons {
    /* width: 40px; */
    height: 20px;
    object-fit: contain;
}

header {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: .2em; */
}

button {
    border: none;
    border-radius: 20px;
    padding: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightsAnLanguage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 10px;
    padding: 3em;
}

.languages {
    display: flex;
}

.languages button {
    border-radius: 100%;
    margin: .2em;
    border: 2px solid var(--wtc-blue);
}

.whiteButtons {
    border: 2px solid var(--wtc-white);
    z-index: 999;
}

.whiteButtons:hover {
    background-color: transparent;
    border: 2px solid var(--wtc-white);
    color: var(--wtc-white);
}

.blueButtons {
    border: 2px solid var(--wtc-blue);
    
}

.blueButtons:hover {
    background-color: transparent;
    border: 2px solid var(--wtc-blue);
    color: var(--wtc-blue);
}

@media screen and (max-width:500px) {
    #continentsGif {
        width: 100%;
    }    

    #howManyContinents {
        font-size: 1em;
    }
    
}

@media screen and (max-width:350px) {
    .rightsAnLanguage {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .rightsAnLanguage .languages {
        order: -1;
        padding: 0 5px;
    }

    .rightsAnLanguage .languages button {
        font-size: 12px;
    }
}
